<br />
<label for="maze-width">Maze width: </label>
<input
  id="maze-width"
  type="number"
  [value]="mazeWidth"
  (input)="onMazeWidthChange($event)"
  min="3"
  max="20"
  maxlength="2"
  size="2"
/>
<label for="maze-height">Maze height: </label>
<input
  id="maze-height"
  type="number"
  [value]="mazeHeight"
  (input)="onMazeHeightChange($event)"
  min="3"
  max="12"
  maxlength="2"
  size="2"
/>
<br />
<label for="algorithms">Maze generation algorithm:</label>
<select [formControl]="algorithmControl" (change)="onAlgorithmChange()">
  <option
    [value]="enum.value"
    *ngFor="let enum of MazeGenerationAlgorithm | keyvalue"
  >
    {{ enum.key | replaceUppercase : "#" }}
  </option></select
><br />
<button regenerate-maze (click)="onRegenerateMaze()">Regenerate Maze</button>
