:host {
  display: block;
  text-align: center;
}

label,
select,
button[regenerate-maze] {
  margin-right: 1rem;
}

select,
button[regenerate-maze] {
  margin-bottom: 1rem;
}

button[regenerate-maze] {
  margin-right: 0; /* Remove extra space after the last element */
}
